<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-title>Update Contact</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="view-contact"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
      
      <ion-content>
        <div class="content-bg">
            <ion-card  class="signup-form">
              
                <div text-center>
                    <h4>Update Contact Details Below</h4>
                  </div>
            <form  [formGroup]="myForm" (ngSubmit)="submitForm()">
                <ion-input formControlName="userId" type="hidden"></ion-input>
                <ion-input formControlName="id" type="hidden"></ion-input>

              <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input formControlName="contactName"></ion-input>
              
              </ion-item>
                  <ion-item>
                      <ion-label position="floating">Contact Number</ion-label>
                      <ion-input formControlName="contactNumber"></ion-input>
                    </ion-item>
                <div class="container-btn">
                    <ion-button type="submit" class="btn-sign-up" color="primary">Update</ion-button>
                </div>
              </form>
            </ion-card>
        </div>
      </ion-content>
      
  