<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content>
        <div class="content-bg">
        <ion-card class="login-form">
            <div text-center>
                <h4>Welcome To Call Timer</h4>
              </div>
              <form  [formGroup]="myForm" (ngSubmit)="submitForm()">
      
          <ion-item>
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input formControlName="mobileNo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password" ></ion-input>
          </ion-item>
            <div class="container">
                <ion-button type="submit" class="btn-login" color="primary">Login</ion-button>
            </div>
          </form>
      
        </ion-card>
        <div>
          <p><a routerLink="/generate-code" class="forgot-password-text">Forgot Password</a></p>
          <p><a routerLink="/sign-up" class="signup-text">Sign Up</a></p>
         

        </div>
        
      </div>
      <ion-button type="submit" class="btn-login" (click)="facebook()" color="primary"><ion-icon name="logo-facebook"></ion-icon></ion-button>

      
      </ion-content>


