    .signup-text{
        float: right;
        color: #fff;
    }
    .forgot-password-text{
        float: left;
        color: #fff;
    }
    ion-content{
        display: flex; 
    }
   
    .login-form {
        vertical-align: middle;
        margin: auto;
        margin-top: 100px;
        padding: 15px;
        border: 1px solid #3880ff;
    }
    .new-background-color{
        --background: #3880ff;
        color: #fff;
    }
    .container{
        width: 100%;
        text-align: center;
    }

    .btn-login {
        width: 80%;
        margin: 15px;
    }

    .content-bg {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/login-bg.jpg);
        background-color: #cccccc;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15px;
    }
    h4, p {
        color: #fff;
    }
