.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.new-background-color{
  --background: #3880ff;
  color: #fff;
}
.content-bg {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/login-bg.jpg);
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}