<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar  color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="viewProfile()">View Profile</ion-item>
        <ion-item (click)="viewCallLog()">View Call History</ion-item>
        <ion-item (click)="logout()">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
