<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Call Duration</ion-title>
    <ion-label (click)="close()" slot="end">Close</ion-label>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-bg">
    <ion-card  class="signup-form">

        <div text-center>
            <h4>How Many Seconds For This Call?</h4>
          </div>
    <form  [formGroup]="myFormInfo" (ngSubmit)="submitForm()">
          <ion-item>
              <ion-label position="floating">Call Duration(in Sec)</ion-label>
              <ion-input formControlName="duration"></ion-input>
            </ion-item>
        <div class="container-btn">
            <ion-button type="submit" class="btn-sign-up" color="primary">Continue</ion-button>
        </div>
      </form>
    </ion-card>
</div>
</ion-content>
