<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-title>Update Profile</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home-page"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


      
      <ion-content>
        <div class="content-bg">
            <ion-card  class="signup-form">
          
                <div text-center>
                    <h4>Update Your Details Below</h4>
                  </div>
            <form  [formGroup]="myForm" (ngSubmit)="submitForm()">
                <ion-input formControlName="id" type="hidden"></ion-input>
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input formControlName="firstName"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Last Name</ion-label>
                  <ion-input formControlName="lastName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Email Address</ion-label>
                    <ion-input formControlName="email" [disabled]="true"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Mobile Number</ion-label>
                      <ion-input formControlName="mobileNo" [disabled]="true"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Service Provider</ion-label>
                      <ion-select formControlName="serviceProviderID">
                        <ion-select-option *ngFor="let provider of serviceProviders" [value]="provider.id">{{provider.serviceProviderName}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                <div class="container-btn">
                    <ion-button type="submit" class="btn-sign-up" color="primary">Update</ion-button>
                    <ion-button (click)="deleteAccount()" class="btn-sign-up" color="danger">Delete Account</ion-button>    
                </div>
              </form>
            </ion-card>
        </div>
      </ion-content>
      
