<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-title text-center>Register</ion-title>
    </ion-toolbar>
  </ion-header>


      
      <ion-content>
        <div class="content-bg">
            <ion-card  class="signup-form">
          
                <div text-center>
                    <h4>Add Your Details Below</h4>
                  </div>
            <form  [formGroup]="myForm" (ngSubmit)="submitForm()">
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input formControlName="firstName"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Last Name</ion-label>
                  <ion-input formControlName="lastName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Id Number</ion-label>
                  <ion-input formControlName="idNumber"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Email Address</ion-label>
                    <ion-input formControlName="email"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Mobile Number</ion-label>
                      <ion-input formControlName="mobileNo"></ion-input>
                    </ion-item>
                        <ion-item>
                            <ion-label>Service Provider</ion-label>
                            <ion-select formControlName="serviceProviderID">
                              <ion-select-option *ngFor="let provider of serviceProviders" [value]="provider.id">{{provider.serviceProviderName}}</ion-select-option>
                            </ion-select>
                          </ion-item>
                      <ion-item>
                          <ion-label position="floating"> Password</ion-label>
                          <ion-input formControlName="password"type="password"></ion-input>
                        </ion-item>
              <ion-item>
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input formControlName="confirmPassword"  type="password"></ion-input>
              </ion-item>
                <div class="container-btn">
                    <ion-button type="submit" class="btn-sign-up" color="primary">Sign-Up</ion-button>
                                <p>Already registered? <a routerLink="/sign-in">Login</a></p>
                </div>
              </form>
            </ion-card>
        </div>
      </ion-content>
      
