.signup-text{
    float: right;
}
ion-content{
    display: flex; 
}

.signup-form {
    vertical-align: middle;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
   border: 1px solid #3880ff;
}
.container-btn{
    text-align: center;
}
// .btn-sign-up {
//     width: 80%;
//     margin: 15px;
// }

.content-bg {
    // background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/login-bg.jpg);
    // background-color: #cccccc;
    // height: 100%;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    padding: 15px;
}
h4, p {
    color: black;
}

a {
    color: aqua;
}
.new-background-color{
    --background: #3880ff;
    color: #fff;
}

.btn-width {
    width: 45%;
    margin-top: 20px;
  }