<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title text-center>Reset Password</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="generate-code"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


    
    <ion-content>
      <div class="content-bg">
          <ion-card  class="signup-form">
        
              <div text-center>
                  <h4>Add the necessary details below</h4>
                </div>
          <form  [formGroup]="myForm" (ngSubmit)="submitForm()">
            <ion-item>
              <ion-label position="floating">Reset Code</ion-label>
              <ion-input formControlName="passwordResetCode"></ion-input>
            </ion-item>
                    <ion-item>
                        <ion-label position="floating">New Password</ion-label>
                        <ion-input formControlName="newPassword"type="password"></ion-input>
                      </ion-item>
            <ion-item>
              <ion-label position="floating">Confirm Password</ion-label>
              <ion-input formControlName="confirmPassword"  type="password"></ion-input>
            </ion-item>
              <div class="container-btn">
                  <ion-button type="submit" class="btn-sign-up btn-width" color="primary">Reset Password</ion-button>
                  <ion-button class="btn-sign-up btn-width" color="primary">Resend Code</ion-button>
                              
              </div>
            </form>
          </ion-card>
      </div>
    </ion-content>
    
