.new-background-color{
    --background: #3880ff;
    color: #fff;
}
.content-bg {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/login-bg.jpg);
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  }

ion-scroll[scrollx=true],  ion-scroll[scrollx=true] {
    overflow: hidden;
  }
  
  ion-scroll[scrollx=true] {
    position: relative;
    overflow-x: auto;
    height: 100px;
  }
  .thumnails{
    // overflow-x: scroll;
    overflow-y: scroll !important;
    
  }
  .list-thumbnail{
    height: 100%;
  }
  ::-webkit-scrollbar { 
    display: none; 
  }

  .center-btn{
    text-align: center;
  }

  .home-btn {
    width: 45%;
  }
