<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-label slot="end">Hi, {{username}}</ion-label>
  </ion-toolbar>
</ion-header>

<!-- <ion-content >

        <ion-list *ngFor="let contact of contactlist">
          <ion-item>
            <ion-label>{{contact.displayName}}</ion-label>
          </ion-item>
        </ion-list>
        <div class="thumnails">
          <div  class="list-thumbnail">
                <ion-item *ngFor="let contact of contactlist">
                    <ion-label>{{contact.displayName}}</ion-label>
                  </ion-item>
          </div>
        </div>
      
      <ion-virtual-scroll [items]="contactlist">
        <ion-item *virtualItem="let contact">
          {{ contact.displayName }}
        </ion-item> 
      </ion-virtual-scroll>
</ion-content> -->

<ion-content padding>
    <ion-searchbar animated [(ngModel)]="searchTerm" (ionChange)="searchContact($event)"></ion-searchbar>
    <div class="center-btn">
      <ion-button class="home-btn" (click)="goToContact()">
        Create Contact
      </ion-button>
      <ion-button class="home-btn" (click)="viewBalance()">
        View Balance
      </ion-button>
    </div>
    
    <ion-list *ngFor="let contact of contactlist">
        <ion-item-sliding #item>
            <ion-item>
              <div (click)="viewContact(contact.id)">
                  {{contact.contactName}}
              </div>
                <ion-button (click)="Call(contact.contactNumber)" slot="end" large>Call
                  <ion-icon name="call"></ion-icon>
              </ion-button>
            </ion-item>

            <!-- <ion-item-options side="end">
              <ion-button (click)="Call(contact.contactNumber)">Call
                  <ion-icon name="call"></ion-icon>
              </ion-button>
            </ion-item-options> -->
            <!-- <ion-item-options side="start">
                <ion-button (click)="UpdateContact(contact.id)">Edit
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button (click)="DeleteContact(contact.id)">Delete
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item-options> -->
        </ion-item-sliding>

      <!-- <ion-item *ngFor="let contact of contactlist">
        {{contact.displayName}}
      </ion-item> -->
    </ion-list>
    <div *ngIf="noResults">
        <div>No Results Were Found!</div>

      </div>






   
    <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </ion-content>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
   <ion-tab-button>
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

   <ion-tab-button href="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Tab Two</ion-label>
    </ion-tab-button>

   <ion-tab-button href="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->