<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>View Contact</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home-page"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


    
    <ion-content>
      <div class="content-bg">
          <ion-card  class="signup-form">
            
              <div text-center>
                  <h4>Contact Details Below</h4>
                </div>
          
              <!-- <ion-input formControlName="userId" type="hidden"></ion-input>
              <ion-input formControlName="id" type="hidden"></ion-input> -->

            <div>
              <ion-label position="stacked">Name</ion-label>
              <ion-text>
                <p>{{contactName}}</p>
              </ion-text>
            
            </div>
                <div>
                    <ion-label position="stacked">Contact Number</ion-label>
                    <ion-text>
                      <p>{{contactNumber}}</p>
                    </ion-text>
                  </div>
              <div class="container-btn">
                <ion-button class="view-btn" (click)="updateContact(contact.id)">Edit
                  <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button class="view-btn" color="danger" (click)="showConfirmAlert(contact.id)">Delete
                  <ion-icon name="trash"></ion-icon>
              </ion-button>
              </div>
          </ion-card>
      </div>
    </ion-content>
    
