<ion-header>
  <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home-page"></ion-back-button>
        </ion-buttons>
    <ion-title>Call Log</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid *ngFor="let info of calls">
    <ion-row>
      <ion-col>
        {{info.callToName}}
      </ion-col>
      <ion-col>
        {{info.callToNumber}}
      </ion-col>
      <ion-col>
          {{info.callDuration}} Sec
      </ion-col>
      <ion-col>
          {{info.callDate | date: 'dd/MM/yyyy'}}
      </ion-col>
    </ion-row>
    </ion-grid>
    <!-- <ion-list *ngFor="let info of calls">
        <ion-item-sliding #item>
            <ion-item>
              <div (click)="viewContact(contact.id)">
                  {{info.callToName}} ({{info.callToNumber}})
              </div>
                <ion-button (click)="Call(contact.contactNumber)" slot="end" large>Call
                  <ion-icon name="call"></ion-icon>
              </ion-button>
            </ion-item>

        </ion-item-sliding>

    </ion-list> -->



  </ion-content>
