<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title text-center>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>


    
    <ion-content>
      <div class="content-bg">
          <ion-card  class="signup-form">
        
              <div text-center>
                  <h4>Please provide a valid email address</h4>
                </div>
          <form  [formGroup]="myForm" (ngSubmit)="submitForm()">
            
            
              <ion-item>
                  <ion-label position="floating">Email Address</ion-label>
                  <ion-input formControlName="email"></ion-input>
                </ion-item>
              <div class="container-btn">
                  <ion-button type="submit" class="btn-sign-up" color="primary">Submit</ion-button>
                              <p>Already registered? <a routerLink="/sign-in">Login</a></p>
              </div>
            </form>
          </ion-card>
      </div>
    </ion-content>
    
